@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}







.payment{

	height: 600px;


}
.bill{
	width: 400px;
	margin: 0 auto;
	height: 400px;
	flex: 1;
	
	position: relative;
    background-color: white;
    border-radius: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.bill img[name='success'] {
	width: 20%;
	height: auto;
    position: absolute;
    top: 11%;
    left: 40%;
	overflow: hidden;
}

.tryagain {
	background-color: lightgreen;
	border: none;

	border-radius: 5px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

/* Button hover styles */
.tryagain:hover {
	transform: scale(1.02);
}

.backtohome {
	background-color: lightgreen;
	border: none;

	border-radius: 5px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

/* Button hover styles */
.backtohome:hover {
	transform: scale(1.02);
}


.bill p[name = 'paymentstatus']{
	width: 100%;
	height: auto;
	font-size: 26px;
    position: absolute;
	text-align: center;
    transform: translate(0%, 170%);
	
	
}

.bill p[name = 'date']{
	width: 100%;
	height: auto;
	font-size: 18px;
    position: absolute;
	text-align: center;
    transform: translate(0%, 250%);
	padding-bottom: 50px;
	border-bottom: 1px solid silver;
	font-weight: 500;
}

.bill p[name = 'failmsg']{
	width: 90%;
	height: auto;
	font-size: 18px;
    position: absolute;
	text-align: center;
	
    transform: translate(5%, 220%);
	
	font-weight: 500;
}


.paymentinfo {
  list-style: none;
  display: table;
  margin: 0 auto;
}

.paymentinfo-row {
  display: table-row;
  font-weight: 500;
	height: 25px;
}

b {
  display: table-cell;
  transform: translate(10%,000%);
}

.bill p[name = 'amountpaid']{
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 500;
    position: absolute;
    transform: translate(10%,1500%);
	
}

.bill p[name = 'ordernumber'] {
	width: 100%;
	height: auto;
	font-weight: 500;
	font-size: 16px;
    position: absolute;
    transform: translate(10%,1400%);
	
}

.bill p[name = 'paymentmethod'] {
	width: 100%;
	height: auto;
	font-weight: 500;
	font-size: 16px;
    position: absolute;
    transform: translate(10%,1500%);
	
}



